<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="UnePremiereApplication.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
  <applicationSettings>
    <UnePremiereApplication.Properties.Settings>
      <setting name="UnePremiereApplication_com_webservicex_www_GlobalWeather" serializeAs="String">
        <value>http://www.webservicex.com/globalweather.asmx</value>
      </setting>
      <setting name="UnePremiereApplication_net_webservicex_www_airport_airport" serializeAs="String">
        <value>http://www.webservicex.net/airport.asmx</value>
      </setting>
      <setting name="UnePremiereApplication_net_webservicex_www_country_detail_country" serializeAs="String">
        <value>http://www.webservicex.net/country.asmx</value>
      </setting>
    </UnePremiereApplication.Properties.Settings>
  </applicationSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
  
    <add name="monModele" connectionString="data source=ACER5750\SQLSEVER2012;initial catalog=helloentityfx;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  <!-- 
  <add name="monModele" connectionString="data source=wks0252\SQLEXPRESS;initial catalog=helloentityfx;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
   --> 
    
    <add name="helloentityfxEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=WKS0252\SQLEXPRESS;initial catalog=helloentityfx;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="helloentityfxEntities1" connectionString="metadata=res://*/HelloEntityFx.csdl|res://*/HelloEntityFx.ssdl|res://*/HelloEntityFx.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=WKS0252\SQLEXPRESS;initial catalog=helloentityfx;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>